.ortalama_cercevesi {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.giris_islemi {
    position: relative;
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
  }
  .giris_islemi input {
   background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box; 
  }
  .giris_islemi button {
    background: darkgreen;
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
   }