body{
  background: #399;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabs {
  width: auto;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.tab {

  flex-grow: 1;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}


.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.5s ease-out;
  transform: scaleX(0);
  transform-origin: left;
}

@media (max-width:681px){

  .tabs {
    width: auto;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  ul {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px, 150px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    margin-left: 15px;
  }
  
  .tab {
  
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    margin-right: 15px;
  }
  
  
  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.5s ease-out;
    transform: scaleX(0);
    transform-origin: left;
  }
}

